:root {
  --bg-player: #181818;
  --text-main: #ffffff;
  --text-sub: #b3b3b3;
  --green: #1db954;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* ❌ KHÔNG CÓ ẢNH NỀN Ở BODY */
  background: #000;
}

/* ===== COVER BACKGROUND (NỀN CHÍNH) ===== */
.cover-bg {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-size: cover;
  background-position: center;
  opacity: .5;

  /* filter: blur(2px) brightness(0.75); */
  transform: scale(1.08);
}

/* ===== PLAYER ===== */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;

  display: flex;
  align-items: center;
  padding: 0 20px;

  border-top: 1px solid #282828;
  backdrop-filter: blur(12px);
  background: rgba(24, 24, 24, 0.85);
}

/* LEFT */
.player-left {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.cover {
  width: 56px;
  height: 56px;
  border-radius: 4px;
  object-fit: cover;
}

/* CENTER */
.player-center {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.play {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: white;
  color: black;
}

/* PROGRESS */
.progress {
  width: 100%;
}

.bar {
  height: 4px;
  background: #404040;
  border-radius: 2px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  background: var(--green);
}

/* RIGHT */
.player-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}